h2{
    font-family: Gill Sans, sans-serif;
}
p{
    font-family: Gill Sans, sans-serif;
}
ul{
    font-family: Gill Sans, sans-serif;
}
ol{
    font-family: Gill Sans, sans-serif;
}
.lire-aussi {
    color: #993300;
}